@{
    var angularEnabled = (ViewBag.AngularAppName != null);
    var angularAppName = ViewBag.AngularAppName;
    var angularControllerName = ViewBag.AngularControllerName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="body-normal" id="main-document-body" @if (angularEnabled) { <text> data-ng-app="@angularAppName" </text>  }>
    <div class="container" @if (angularEnabled) { <text> data-ng-controller="@angularControllerName" </text>  }>
        @Html.Partial("_Menu")
        <div>
            @RenderBody()

            <md-button class="md-fab md-fab-bottom-right docs-scroll-fab md-warn"
                       docs-scroll-class="scrolling"
                       ng-click="$appUtil.scrollTop($event)"
                       aria-label="Back to Top">
                <md-tooltip md-direction="top">回到顶部</md-tooltip>
                <md-icon class="material-icons">keyboard_arrow_up</md-icon>
            </md-button>
        </div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year 美天优递 版权所有. Powered by Xiao Wang &copy;2016&#8211;@DateTime.Today.Year.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>

