@using JYXWeb.Util
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">@ViewBag.Title</a>
           
            @*@Html.ActionLink("美天优递", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("首页", "Index", "Home")</li>
                <li class="dropdown-submenu">
                    <a href="#">我要转运</a>
                    <ul class="dropdown-menu">
                        <li role="presentation">@Html.ActionLink("原装闪运", "Index", "Package", new { newPackage = true})</li>
                        <li role="presentation">@Html.ActionLink("普通转运", "Index", "Package", new { newPackage = true, holdPackage = "true"}, null)</li>
                        <li role="presentation">@Html.ActionLink("包裹管理", "Index", "Package")</li>
                        <li role="presentation">@Html.ActionLink("转运课堂", "Intro", "Package")</li>
                    </ul>
                </li>
                @if (User != null && User.Identity.Name != ""&&User.Identity.GetUserType()== "本地客户")
                {
                <li class="dropdown-submenu">
                    <a href="#">代购助手</a>
                    <ul class="dropdown-menu">
                        <li role="presentation">@Html.ActionLink("商品列表", "Index", "Goods")</li>
                        <li role="presentation">@Html.ActionLink("代刷购物", "Index", "Purchase")</li>
                    </ul>
                </li>
                }
                <li>@Html.ActionLink("渠道说明", "Service", "Home")</li>
                <li>@Html.ActionLink("公司简介", "About", "Home")</li>
 @*               <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
