@using JYXWeb.Util;
@{
    ViewBag.Title = "个人中心";
    var userCode = User.Identity.GetUserCode();
    var firstName = User.Identity.GetFirstName();
    var lastName = User.Identity.GetLastName();
    var isAdmin = AppUtil.IsAdmin(userCode).ToString().ToLower();
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div data-ng-init="firstName='@firstName';lastName='@lastName';isAdmin=@isAdmin;init()" ng-cloak>
    <div layout="column">
        <div flex>
            <fieldset>
                <legend>
                    财务信息
                </legend>
                <div>

                    我的余额:&nbsp;
                    @User.Identity.GetBalance().FormatBalance()
                    &nbsp;
                    <md-button class="md-fab md-mini md-warn" style="margin:3px 3px" aria-label="deposit" data-toggle="modal" data-target="#depositModal">
                        充值
                    </md-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    运费价格表:&nbsp;
                    <md-button class="md-fab md-mini md-warn" data-toggle="modal" data-target="#pricingModal" aria-label="pricing">
                        <md-icon class="material-icons">description</md-icon>
                    </md-button>
                </div>
                @*我的积分: &nbsp; @User.Identity.GetCredit()*@
            </fieldset>
            <br />
        </div>
        <div flex>
            <fieldset>
                <legend>个人信息</legend>
                <table class="table borderless">
                    <tr>
                        <td>用户名/邮箱:</td>
                        <td>@User.Identity.Name [@Html.ActionLink("修改密码", "ChangePassword")]</td>
                    </tr>
                    <tr>
                        <td>字符编码:</td>
                        <td>@User.Identity.GetUserCode()</td>
                    </tr>
                </table>
            </fieldset>
            <br />
        </div>
        <div flex data-ng-controller="packageCtrl" data-ng-init="getPackageOverview()">
            <fieldset>
                <legend>包裹信息</legend>
                <md-chips ng-model="packageOverview" readonly="true" md-removable="false">
                    <md-chip-template>
                        <a data-ng-href="/Package?Status={{$chip.Status}}" target="_blank" data-ng-show="$chip.Count>0">
                            <strong>{{$chip.Status}}</strong>
                            <em>{{$chip.Count}}</em>
                        </a>
                        <div data-ng-show="$chip.Count===0">
                            <strong>{{$chip.Status}}</strong>
                            <em>{{$chip.Count}}</em>
                        </div>
                    </md-chip-template>
                </md-chips>
            </fieldset>
            <br />
            <br />
        </div>
        <div flex>
            <fieldset>
                <legend>我的美国收货地址</legend>
                <table class="table table-striped" style="">
                    <tr>
                        <td>名/First Name:</td>
                        <td>
                            <md-input-container class="md-block hide-md-error-msg" layout-fill>
                                <input ng-model="firstName" ng-change="saveName()" ng-model-options="{ updateOn: 'blur' }" aria-label="first name" />
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td>姓/Last Name:</td>
                        <td>
                            <md-input-container class="md-block hide-md-error-msg" layout-fill>
                                <input ng-model="lastName" ng-change="saveName()" ng-model-options="{ updateOn: 'blur' }" aria-label="last name" />
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td>地址1/Address1:</td>
                        <td>7J Taggart Dr</td>
                    </tr>
                    <tr>
                        <td>地址2/Address2:</td>
                        <td>@userCode</td>
                    </tr>
                    <tr>
                        <td>城市/City:</td>
                        <td>Nashua</td>
                    </tr>
                    <tr>
                        <td>州/State:</td>
                        <td>New Hampshire (NH)</td>
                    </tr>
                    <tr>
                        <td>邮编/Zip Code:</td>
                        <td>03060</td>
                    </tr>
                    <tr>
                        <td>电话/Tel:</td>
                        <td>815-556-9028</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
   
    <div data-ng-if="isAdmin">
        <md-table-container>
            <table class="table table-striped" md-table ng-model="userTable" md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="UserCode" class="text-center"><span>用户编码</span></th>
                        <th md-column md-order-by="UserName" class="text-center"><span>登录邮箱</span></th>
                        <th md-column md-order-by="LastName" class="text-center"><span>姓</span></th>
                        <th md-column md-order-by="FirstName" class="text-center"><span>名</span></th>
                    </tr>
                </thead>


                <tbody md-body>
                    <tr md-row md-auto-select="false" ng-repeat="user in users | orderBy: query.order | limitTo: query.limit : (query.page-1) * query.limit">
                        <td md-cell><a href="" data-toggle="modal" ng-click="getPricing(user.UserCode)" data-target="#pricingModal">{{user.UserCode}}</a></td>
                        <td md-cell>{{user.UserName}}</td>
                        <td md-cell>{{user.LastName}}</td>
                        <td md-cell>{{user.FirstName}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 20, 50]" md-page="query.page"
                             md-total="{{users.length}}" md-on-paginate="" md-page-select></md-table-pagination>
    </div>
    
    
    @Html.Partial("_DepositModal")
    @Html.Partial("_PricingModal")

</div>
@section Scripts {
    <script src="~/src/app/controllers/accountCtrl.js"></script>
    <script src="~/src/app/controllers/packageCtrl.js"></script>
}